langgraph-cli[inmem]
langgraph
langchain-core
langchain-openai
langchain-tavily
python-dotenv
langsmith
pydantic
matplotlib
seaborn
pandas
pymysql
scikit-learn
openpyxl
reportlab
cryptography